### Python ###
__pycache__/
*.py[cod]
*$py.class

### Jupyter Notebook ###
.ipynb_checkpoints

### VSCode ###
.vscode/

### Virtual Environment ###
env/

### Metadata ###
camera_settings.log

*.weights

models/yolov3.pt

README2.md

.DS_Store
