.App {
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.5em;
  width: 800px;
  margin: auto;
}

.h1, h1 {
  font-size: 36px;
}

.container-video {
  margin: 40px auto;
  width: 100%;
  height: 450px;
  border: 10px #333 solid;
  background-color: black;
}

.container-video #videoElement {
  width: auto;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: black;
}

@media (prefers-reduced-motion: no-preference) {
  /*.App-logo {
    animation: App-logo-spin infinite 20s linear;
  }*/
}
